.post
	.post-head
		img(src="http://graph.facebook.com/"+post.user.username+"/picture")
		a(href='/' + post.user.screen_name)=post.user.screen_name
		span.date 2 July 2013
		br.clear
	.post-like-menu
		span.top-block-likes
			strong(class="like_" + post._id)=post.likes
			a.btn.btn-small.approve(data-id=post._id, data-data='like')
				i.icon-thumbs-up 
		span.top-block-dislikes
			strong(class="dislike_" + post._id)=post.dislikes
			a.btn.btn-small.approve(data-id=post._id, data-data='dislike')
				i.icon-thumbs-down
	a(href='/' + post.user.screen_name + '/' + post._id)
		img(src="/files/" + post.pic)
	.post-footer
		.pull-right.btn-group
			a.btn.btn-small(href='#') FB
			a.btn.btn-small(href='#') Twitter
			a.btn.btn-small(href='#') Pinterest
			a.btn.btn-small(href='#') Tumblr
			a.btn.btn-small(href='#') G+
		br.clear

