.post(data-id=post._id)
	-var _url = 'http://anyme.me/' + post.user.username + '/' + post._id;
	div.follow-btn(data-id=post.user._id)
		i.icon-plus
	.post-head
		img(src="http://graph.facebook.com/"+post.user.username+"/picture", width="500", height="414")
		a(href='/' + post.user.screen_name)=post.user.screen_name
		span.date(title=moment(post.date).format('LLLL'))=moment(post.date).fromNow()
		br.clear
	include ../like
	a(href='/' + post.user.screen_name + '/' + post._id)
		img(src=cdn_url + '/' +  post.pic)
