extends layout

block content
	-var _url = 'http://anyme.me/' + pic.username + '/' + pic._id;
	-var post = pic;
	div#fb-root
	script(type='text/javascript')
		pagename = "display";
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	div.row
		div.span9(style='width:590px')
			section#next-menu.row.btn-group
				div.span4#previous-btn
					a.btn.btn-medium.btn-block(href='Previous')
						i.icon-chevron-left
				div.span4
					a.btn.btn-medium.btn-block(href='Previous')
						i.icon-chevron-right
			section.row
				div.big-post
					div.post-head
						img(src="http://graph.facebook.com/"+pic.user.username+"/picture")
						a(href='/' + pic.user.screen_name)=pic.user.screen_name
						span.date(title=moment(pic.date).format('LLLL'))=moment(pic.date).fromNow()
						br.clear
					include like
					img(src=cdn_url+"/" + pic.pic)
					div.post-footer
						-if(locals._user)
							div.pull-left.btn-group
								a.btn.btn-small.make-favorite(data-id=pic._id)
									i.icon-star
								a.btn.btn-small
									strong #{pic.views} views
						div.pull-right(style='margin-right:15px')
							div.span1
								div.fb-like(data-send="false", data-layout="button_count", data-width="450", data-show-faces="true", data-font="segoe ui")
							div.span1
								a.twitter-share-button(href="https://twitter.com/share", data-via="anymeme") Tweet
						br.clear
					div
						h4 Comments
						fb:comments(width="580", num_posts="10", data-href=_url)					
					//
						section.comments
							section.comment.row
								div.span1
									img(src='http://graph.facebook.com/iulogy/picture')
									span iulogy
								div.span5
									p The function does not return any value, but modifies the content of the array pointed by base reordering its elements as defined by compar.
					//	
						#disqus_thread
							script(type='text/javascript')
									var disqus_shortname = 'anymeme'; // required: replace example with your forum shortname
									(function() {
									var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
									dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
									(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
									})();
							noscript
								| Please enable JavaScript to view the
								a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
							a.dsq-brlink(href='http://disqus.com')
								| comments powered by
								span.logo-disqus Disqus
		div.span2
			| Advertisement
