extends layout

block content
	.row
		.span8
			section.well.row(style='width: 490px;margin: 20px 45px;')
				img(src="http://graph.facebook.com/"+user.username+"/picture")
				h4=user.screen_name
				-if(user.website)
					-if(locals._user && locals._user._id.toString() == user._id.toString())
						div.userwebsite.navbar-form(style='margin: 10px 3px;')
							input(type='text', placeholder='Set your website', value=user.website)#website.span4
							button(type='button').btn#set-website Update
					-else
						p
							a(href=user.website)=user.website
				div.btn-group
					a.btn.btn-medium
						div Posts
						strong=posts
					a.btn.btn-medium(href='/' + user.screen_name + '/favorites')
						div Favorites
						strong=favorites
					-var following_text, following_class;
					-if(following > 0) { following_text = "yes"; } else { following_text = "no"; }
					a.btn.btn-medium(href='/' + user.screen_name + '/favorites')
						div Following
						strong=following_text
					a.btn.btn-medium(href='/' + user.screen_name + '/favorites')
						div Follows you
						strong no
			section.row#post-listing
				-each post in latest
					-if(locals._user && post.user._id.toString() == locals._user._id.toString())
						include components/post
					-else if(post.private == false)
						include components/post
		include rightside
	script(type='text/javascript')
		$(function(){
			$("#set-website").on('click', function(){
				var website = $("#website").val();
				if(website == ''){
					//todo:
					return;
				}
				$.post('/user/set-website',{website:website}, function(res){
					
				});
			});
		});
